---
import { getCollection } from 'astro:content'
import ArrowCard from '@components/ArrowCard'
import MeteorShower from '@components/MeteorShower.astro'
import StackCard from '@components/StackCard'
import TwinklingStars from '@components/TwinklingStars.astro'
import { SITE, SOCIALS } from '@consts'
import PageLayout from '@layouts/PageLayout.astro'
import {
	BetterAuth,
	CloudflareIcon,
	DrizzleIcon,
	FigmaIcon,
	Hono,
	LangChainIcon,
	NeonIcon,
	ReactjsIcon,
	Tailwind,
	Tanstack,
	Tauri,
	Turborepo,
	TursoIcon,
	Mastra,
	Typescript,
	GitHub,
	Alchemy,
	Bun,
	Render
} from '@/components/Icons.tsx'

const posts = (await getCollection('blog'))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 2)

const projects = (await getCollection('projects'))
	.filter((project) => !project.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3)

const stack = [
	{
		text: 'Tanstack',
		icon: Tanstack,
		href: 'https://tanstack.com',
	},
	{
		text: 'Hono',
		icon: Hono,
		href: 'https://hono.dev',
	},
	{
		text: 'Better-Auth',
		icon: BetterAuth,
		href: 'https://better-auth.com',
	},
	{
		text: 'Tailwind CSS',
		icon: Tailwind,
		href: 'https://www.tailwindcss.com',
	},
	{
		text: 'Drizzle ORM',
		icon: DrizzleIcon,
		href: 'https://orm.drizzle.team',
	},
	{
		text: 'Turborepo',
		icon: Turborepo,
		href: 'https://turborepo.com',
	},
	{
		text: 'Tauri',
		icon: Tauri,
		href: 'https://v2.tauri.app',
	},
	{
		text: 'Turso - SQLite',
		icon: TursoIcon,
		href: 'https://turso.tech',
	},
	{
		text: 'Neon - Postgres',
		icon: NeonIcon,
		href: 'https://neon.tech',
	},
	{
		text: 'Figma',
		icon: FigmaIcon,
		href: 'https://figma.com',
	},
]

const aiStack = [
	{
		text: 'Mastra',
		icon: Mastra,
		href: 'https://mastra.ai',
	},
	// {
	// 	text: 'Fast API',
	// 	icon: FastApiIcon,
	// 	href: 'https://fastapi.tiangolo.com',
	// },
	{
		text: 'LangChain',
		icon: LangChainIcon,
		href: 'https://www.langchain.com',
	},
	// {
	// 	text: 'LangGraph',
	// 	icon: LangGraphIcon,
	// 	href: 'https://www.langchain.com/langgraph',
	// },
]

const infraStack = [
	{
		text: 'GitHub',
		icon: GitHub,
		href: 'https://github.com',
	},
	{
		text: 'Cloudflare',
		icon: CloudflareIcon,
		href: 'https://cloudflare.com',
	},
	{
		text: 'Alchemy',
		icon: Alchemy,
		href: 'https://alchemy.run',
	},
	{
		text: 'Render',
		icon: Render,
		href: 'https://render.com',
	},
]

---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-xl lg:text-2xl font-semibold opacity-75'>
            Hi, I am ...
          </p>
          <h1 class='animated text-3xl lg:text-4xl font-bold  text-black dark:text-white'>
            Fernando Garcia
          </h1>
          <h2 class='animated text-base lg:text-lg opacity-75'>
            Product Engineer
          </h2>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='#about' id="aboutLink" class='py-2 px-4 rounded truncate text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Get Started
            </a>
            <a href="#contact" id="contactLink" class='py-2 px-4 truncate rounded text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              Let's Connect
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="absolute bottom-16"></div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article class="pb-0">
          <p>Hi, I'm Fernando — a product engineer focused on building modern web and mobile apps with AI, automation and thoughtful user experiences.</p>
          
          <p class="text-pretty">I enjoy working across the full stack, from UI design to backend systems, infrastructure and deployment.</p>
          
          <p>Currently building independent products and experimenting with AI-powered workflows.  <br>
            Open DMs </p>
          </article>

          <div id="ctaButtons" class='animated flex flex-wrap gap-4  mt-5'>
            <a href='/services' class='py-2 px-4 rounded truncate text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
                My Services
            </a>
          </div>
      </section>

       <!-- Tech Stack Section -->
       <section class="animate">
        <!-- Stack -->
        <div class="space-y-4">
          <h3 class="font-semibold text-lg text-black dark:text-white">
            My Current Tech Stack
          </h3>
          <p class="text-black dark:text-white">
            FullStack Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            Performing Reactivity and statefulness with
            <a href="https://www.react.dev/" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50  hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend flex gap-1">
                <ReactjsIcon class="w-5 h-5"/> React.js
              </span>
            </a>
          </div>
        </div>

        <!-- Stack -->
        <div class="space-y-4 mt-8">
          <p class="text-black dark:text-white">
              Infrastructure & DevOps
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {infraStack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div class="flex flex-wrap items-center gap-2 mt-5">
              Runtime
            <a href="https://bun.sh" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50  hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend flex gap-1">
                <Bun class="w-5 h-5"/> Bun
              </span>
            </a>
          </div>
        </div>

         <!-- Stack -->
        <div class="space-y-4 mt-8">
          <p class="text-black dark:text-white">
            AI Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {aiStack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            🤖 Powered by
            <a href="https://www.typescriptlang.org" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50  hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend flex gap-1">
                <Typescript class="w-5 h-5"/> Typescript
              </span>
            </a>
          </div>
        </div>


      </section>


      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
        <div id="contact" class="absolute bottom-16"></div>
      </section>


      <!-- Contact Section -->
      <section  class="animate flex flex-col items-center gap-4 md:flex-row-reverse md:justify-between">
        <img class="rounded-full w-40 h-40" src="https://avatars.githubusercontent.com/u/71539244?v=4" alt="fgbyte-pic">
        <div>
          <p class="font-semibold text-lg text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </div>
      </section>
    </div>
  </div>
</PageLayout>


<script>
  document.getElementById('aboutLink')?.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent default anchor click behavior

    const targetElement = document.getElementById('about');
    if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll smoothly to the target element
    }
});

 document.getElementById('contactLink')?.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent default anchor click behavior

    const targetElement = document.getElementById('contact');
    if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll smoothly to the target element
    }
});
</script>

  <script is:inline src="/js/bg.js"></script>
